function Screen.init 0
    push constant 1
    neg
    pop static 0
    push constant 0
    pop static 3
    push constant 0
    return
function Screen.clearScreen 3
    push constant 16384
    pop local 0
    push constant 0
    pop local 1
label Screen_0
    push local 1
    push constant 256
    lt
    not
    if-goto Screen_1
    push constant 0
    pop local 2
label Screen_2
    push local 2
    push constant 32
    lt
    not
    if-goto Screen_3
    push local 0
    push local 1
    add
    push local 2
    add
    push constant 0
    call Memory.poke 2
    pop temp 0
    push local 2
    push constant 1
    add
    pop local 2
    goto Screen_2
label Screen_3
    push local 1
    push constant 1
    add
    pop local 1
    goto Screen_0
label Screen_1
    push constant 0
    return
function Screen.setColor 0
    push argument 0
    pop static 0
    push constant 0
    return
function Screen.drawPixel 6
    push argument 0
    push constant 16
    call Math.divide 2
    pop local 1
    push argument 0
    push constant 16
    push local 1
    call Math.multiply 2
    sub
    pop local 2
    push constant 32
    push argument 1
    call Math.multiply 2
    push local 1
    add
    pop local 0
    push constant 16384
    push local 0
    add
    call Memory.peek 1
    pop local 3
    push local 2
    call Math.twoToThe 1
    pop local 5
    push local 3
    push local 5
    not
    and
    pop local 4
    push local 4
    push local 5
    push static 0
    and
    or
    pop local 4
    push constant 16384
    push local 0
    add
    push local 4
    call Memory.poke 2
    pop temp 0
    push constant 0
    return
function Screen.drawLine 15
    push argument 0
    pop local 0
    push argument 1
    pop local 1
    push argument 2
    push argument 0
    sub
    call Math.abs 1
    pop local 2
    push argument 3
    push argument 1
    sub
    call Math.abs 1
    pop local 3
    push local 2
    push constant 0
    eq
    not
    if-goto Screen_5
    push argument 3
    push argument 1
    lt
    not
    if-goto Screen_7
    push argument 3
    pop local 1
    push argument 1
    pop argument 3
    goto Screen_6
label Screen_7
label Screen_6
    push local 0
    push constant 16
    call Math.divide 2
    pop local 9
    push local 0
    push constant 16
    push local 9
    call Math.multiply 2
    sub
    pop local 10
    push constant 32
    push local 1
    call Math.multiply 2
    push local 9
    add
    pop local 11
    push constant 16384
    push local 11
    add
    call Memory.peek 1
    pop local 12
    push local 10
    call Math.twoToThe 1
    pop local 13
label Screen_8
    push local 1
    push argument 3
    gt
    not
    not
    if-goto Screen_9
    push constant 16384
    push local 11
    add
    push local 12
    push local 13
    not
    and
    push local 13
    push static 0
    and
    or
    call Memory.poke 2
    pop temp 0
    push local 11
    push constant 32
    add
    pop local 11
    push local 1
    push constant 1
    add
    pop local 1
    goto Screen_8
label Screen_9
    push constant 0
    return
    goto Screen_4
label Screen_5
label Screen_4
    push local 3
    push constant 0
    eq
    not
    if-goto Screen_11
    push argument 2
    push argument 0
    lt
    not
    if-goto Screen_13
    push argument 2
    pop local 0
    push argument 0
    pop argument 2
    goto Screen_12
label Screen_13
label Screen_12
    push static 3
    not
    not
    if-goto Screen_15
    push local 0
    push constant 16
    call Math.divide 2
    pop local 9
    push local 0
    push constant 16
    push local 9
    call Math.multiply 2
    sub
    pop local 10
    push constant 32
    push local 1
    call Math.multiply 2
    push local 9
    add
    pop local 11
    goto Screen_14
label Screen_15
    push static 2
    pop local 10
    push static 1
    pop local 11
label Screen_14
    push constant 16384
    push local 11
    add
    call Memory.peek 1
    pop local 12
    push local 2
    push constant 1
    add
    pop local 14
    push local 10
    call Math.twoToThe 1
    push constant 1
    sub
    not
    pop local 13
    push local 14
    push constant 16
    push local 10
    sub
    gt
    not
    not
    if-goto Screen_17
    push local 14
    push local 10
    add
    push constant 16
    lt
    not
    if-goto Screen_19
    push local 13
    push local 14
    push local 10
    add
    call Math.twoToThe 1
    add
    pop local 13
    goto Screen_18
label Screen_19
label Screen_18
    push constant 16384
    push local 11
    add
    push local 12
    push local 13
    not
    and
    push local 13
    push static 0
    and
    or
    call Memory.poke 2
    pop temp 0
    push constant 0
    return
    goto Screen_16
label Screen_17
label Screen_16
    push constant 16384
    push local 11
    add
    push local 12
    push local 13
    not
    and
    push local 13
    push static 0
    and
    or
    call Memory.poke 2
    pop temp 0
    push local 14
    push constant 16
    push local 10
    sub
    sub
    pop local 14
    push local 11
    push constant 1
    add
    pop local 11
label Screen_20
    push local 14
    push constant 16
    lt
    not
    not
    if-goto Screen_21
    push constant 16384
    push local 11
    add
    push static 0
    call Memory.poke 2
    pop temp 0
    push local 14
    push constant 16
    sub
    pop local 14
    push local 11
    push constant 1
    add
    pop local 11
    push local 14
    push constant 0
    eq
    not
    if-goto Screen_23
    push constant 0
    return
    goto Screen_22
label Screen_23
label Screen_22
    goto Screen_20
label Screen_21
    push local 14
    call Math.twoToThe 1
    push constant 1
    sub
    pop local 13
    push constant 16384
    push local 11
    add
    call Memory.peek 1
    pop local 12
    push constant 16384
    push local 11
    add
    push local 12
    push local 13
    not
    and
    push local 13
    push static 0
    and
    or
    call Memory.poke 2
    pop temp 0
    push constant 0
    return
    goto Screen_10
label Screen_11
label Screen_10
    push argument 0
    push argument 2
    lt
    pop local 7
    push argument 1
    push argument 3
    lt
    pop local 8
label Screen_24
    push local 4
    push local 2
    gt
    not
    push local 5
    push local 3
    gt
    not
    and
    not
    if-goto Screen_25
    push local 0
    push local 4
    push local 7
    and
    push local 4
    push local 7
    or
    not
    or
    add
    push local 1
    push local 5
    push local 8
    and
    push local 5
    push local 8
    or
    not
    or
    sub
    call Screen.drawPixel 2
    pop temp 0
    push local 6
    push constant 0
    lt
    not
    if-goto Screen_27
    push local 4
    push constant 1
    add
    pop local 4
    push local 6
    push local 3
    add
    pop local 6
    goto Screen_26
label Screen_27
    push local 5
    push constant 1
    sub
    pop local 5
    push local 6
    push local 2
    sub
    pop local 6
label Screen_26
    goto Screen_24
label Screen_25
    push constant 0
    return
function Screen.drawRectangle 3
    push argument 0
    push argument 2
    gt
    push argument 1
    push argument 3
    gt
    or
    not
    if-goto Screen_29
    push constant 0
    return
    goto Screen_28
label Screen_29
label Screen_28
    push argument 0
    pop local 0
    push argument 1
    pop local 1
    push constant 1
    neg
    pop static 3
    push local 0
    push constant 16
    call Math.divide 2
    pop local 2
    push local 0
    push constant 16
    push local 2
    call Math.multiply 2
    sub
    pop static 2
    push constant 32
    push local 1
    call Math.multiply 2
    push local 2
    add
    pop static 1
label Screen_30
    push local 1
    push argument 3
    gt
    not
    not
    if-goto Screen_31
    push local 0
    push local 1
    push argument 2
    push local 1
    call Screen.drawLine 4
    pop temp 0
    push static 1
    push constant 32
    add
    pop static 1
    push local 1
    push constant 1
    add
    pop local 1
    goto Screen_30
label Screen_31
    push constant 0
    pop static 3
    push constant 0
    return
function Screen.drawCircle 10
    push constant 1
    neg
    pop static 3
    push argument 2
    pop local 0
label Screen_32
    push local 0
    push constant 0
    lt
    not
    not
    if-goto Screen_33
    push argument 2
    push argument 2
    call Math.multiply 2
    push local 0
    push local 0
    call Math.multiply 2
    sub
    call Math.sqrt 1
    pop local 1
    push argument 0
    push local 1
    sub
    pop local 2
    push argument 1
    push local 0
    add
    pop local 3
    push argument 0
    push local 1
    add
    pop local 4
    push argument 1
    push local 0
    add
    pop local 5
    push local 2
    push constant 16
    call Math.divide 2
    pop local 8
    push local 2
    push constant 16
    push local 8
    call Math.multiply 2
    sub
    pop static 2
    push constant 32
    push local 3
    call Math.multiply 2
    push local 8
    add
    pop static 1
    push local 2
    push local 3
    push local 4
    push local 5
    call Screen.drawLine 4
    pop temp 0
    push argument 1
    push local 0
    sub
    pop local 3
    push argument 1
    push local 0
    sub
    pop local 5
    push constant 32
    push local 3
    call Math.multiply 2
    push local 8
    add
    pop local 9
    push local 9
    pop static 1
    push local 2
    push local 3
    push local 4
    push local 5
    call Screen.drawLine 4
    pop temp 0
    push local 0
    push constant 1
    sub
    pop local 0
    goto Screen_32
label Screen_33
    push constant 0
    pop static 3
    push constant 0
    return