function Keyboard.keyPressed 0
push constant 24576
call Memory.peek 1
return
function Keyboard.readChar 1
push constant 0
call Output.printChar 1
pop temp 0
label Keyboard_34
call Keyboard.keyPressed 0
push constant 0
eq
not
if-goto Keyboard_35
goto Keyboard_34
label Keyboard_35
call Keyboard.keyPressed 0
pop local 0
label Keyboard_36
call Keyboard.keyPressed 0
push constant 0
eq
not
not
if-goto Keyboard_37
goto Keyboard_36
label Keyboard_37
call Output.backSpace 0
pop temp 0
push local 0
call Output.printChar 1
pop temp 0
push local 0
return
function Keyboard.readLine 2
push argument 0
call Output.printString 1
pop temp 0
push constant 50
call String.new 1
pop local 1
label Keyboard_38
push constant 1
neg
not
if-goto Keyboard_39
call Keyboard.readChar 0
pop local 0
push local 0
call String.newLine 0
eq
not
if-goto Keyboard_40
call Output.backSpace 0
pop temp 0
call Output.println 0
pop temp 0
push local 1
return
label Keyboard_40
push local 0
call String.backSpace 0
eq
not
if-goto Keyboard_41
call Output.backSpace 0
pop temp 0
call Output.backSpace 0
pop temp 0
push local 1
call String.eraseLastChar 1
pop temp 0
goto Keyboard_42
label Keyboard_41
push local 1
push local 0
call String.appendChar 2
pop local 1
label Keyboard_42
goto Keyboard_38
label Keyboard_39
push local 1
return
function Keyboard.readInt 2
push argument 0
call Keyboard.readLine 1
pop local 0
push local 0
call String.intValue 1
pop local 1
push local 1
return
