function Memory.init 0
push constant 0
pop static 0
push constant 2048
pop static 1
push static 1
push constant 0
add
push constant 0
pop temp 0
pop pointer 1
push temp 0
pop that 0
push static 1
push constant 1
add
push constant 16384
push constant 2048
push constant 2
add
sub
pop temp 0
pop pointer 1
push temp 0
pop that 0
push static 1
push constant 2
add
pop static 1
push constant 0
return
function Memory.peek 0
push static 0
push argument 0
add
pop pointer 1
push that 0
return
function Memory.poke 0
push static 0
push argument 0
add
push argument 1
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 0
return
function Memory.alloc 2
push static 1
pop local 0
label Memory_68
push local 0
push constant 0
eq
not
not
if-goto Memory_69
push local 0
push constant 1
neg
add
pop pointer 1
push that 0
push argument 0
push constant 2
add
lt
not
not
if-goto Memory_70
push local 0
push constant 1
neg
add
push local 0
push constant 1
neg
add
pop pointer 1
push that 0
push argument 0
push constant 2
add
sub
pop temp 0
pop pointer 1
push temp 0
pop that 0
push local 0
push local 0
push constant 1
neg
add
pop pointer 1
push that 0
add
pop local 1
push local 1
push constant 0
add
push constant 0
pop temp 0
pop pointer 1
push temp 0
pop that 0
push local 1
push constant 1
add
push argument 0
pop temp 0
pop pointer 1
push temp 0
pop that 0
push local 1
push constant 2
add
pop local 1
push local 1
return
label Memory_70
push local 0
push constant 2
neg
add
pop pointer 1
push that 0
pop local 0
goto Memory_68
label Memory_69
push constant 0
return
function Memory.deAlloc 0
push argument 0
push constant 2
neg
add
push static 1
pop temp 0
pop pointer 1
push temp 0
pop that 0
push argument 0
pop static 1
push constant 0
return
