function Screen.init 0
push constant 1
neg
pop static 0
push constant 0
pop static 3
push constant 0
return
function Screen.clearScreen 3
push constant 16384
pop local 0
push constant 0
pop local 1
label Screen_101
push local 1
push constant 256
lt
not
if-goto Screen_102
push constant 0
pop local 2
label Screen_103
push local 2
push constant 32
lt
not
if-goto Screen_104
push local 0
push local 1
push local 2
add
add
push constant 0
call Memory.poke 2
pop temp 0
push local 2
push constant 1
add
pop local 2
goto Screen_103
label Screen_104
push local 1
push constant 1
add
pop local 1
goto Screen_101
label Screen_102
push constant 0
return
function Screen.setColor 0
push argument 0
pop static 0
push constant 0
return
function Screen.drawPixel 6
push argument 0
push constant 16
call Math.divide 2
pop local 1
push argument 0
push constant 16
push local 1
call Math.multiply 2
sub
pop local 2
push constant 32
push argument 1
call Math.multiply 2
push local 1
add
pop local 0
push constant 16384
push local 0
add
call Memory.peek 1
pop local 3
push local 2
call Math.twoToThe 1
pop local 5
push local 3
push local 5
not
and
pop local 4
push local 4
push local 5
push static 0
and
or
pop local 4
push constant 16384
push local 0
add
push local 4
call Memory.poke 2
pop temp 0
push constant 0
return
function Screen.drawLine 15
push argument 0
pop local 0
push argument 1
pop local 1
push argument 2
push argument 0
sub
call Math.abs 1
pop local 2
push argument 3
push argument 1
sub
call Math.abs 1
pop local 3
push local 2
push constant 0
eq
not
if-goto Screen_105
push argument 3
push argument 1
lt
not
if-goto Screen_106
push argument 3
pop local 1
push argument 1
pop argument 3
label Screen_106
push local 0
push constant 16
call Math.divide 2
pop local 9
push local 0
push constant 16
push local 9
call Math.multiply 2
sub
pop local 10
push constant 32
push local 1
call Math.multiply 2
push local 9
add
pop local 11
push constant 16384
push local 11
add
call Memory.peek 1
pop local 12
push local 10
call Math.twoToThe 1
pop local 13
label Screen_107
push local 1
push argument 3
gt
not
not
if-goto Screen_108
push constant 16384
push local 11
add
push local 12
push local 13
not
and
push local 13
push static 0
and
or
call Memory.poke 2
pop temp 0
push local 11
push constant 32
add
pop local 11
push local 1
push constant 1
add
pop local 1
goto Screen_107
label Screen_108
push constant 0
return
label Screen_105
push local 3
push constant 0
eq
not
if-goto Screen_109
push argument 2
push argument 0
lt
not
if-goto Screen_110
push argument 2
pop local 0
push argument 0
pop argument 2
label Screen_110
push static 3
not
not
if-goto Screen_111
push local 0
push constant 16
call Math.divide 2
pop local 9
push local 0
push constant 16
push local 9
call Math.multiply 2
sub
pop local 10
push constant 32
push local 1
call Math.multiply 2
push local 9
add
pop local 11
goto Screen_112
label Screen_111
push static 2
pop local 10
push static 1
pop local 11
label Screen_112
push constant 16384
push local 11
add
call Memory.peek 1
pop local 12
push local 2
push constant 1
add
pop local 14
push local 10
call Math.twoToThe 1
push constant 1
sub
not
pop local 13
push local 14
push constant 16
push local 10
sub
gt
not
not
if-goto Screen_113
push local 14
push local 10
add
push constant 16
lt
not
if-goto Screen_114
push local 13
push local 14
push local 10
add
call Math.twoToThe 1
add
pop local 13
label Screen_114
push constant 16384
push local 11
add
push local 12
push local 13
not
and
push local 13
push static 0
and
or
call Memory.poke 2
pop temp 0
push constant 0
return
label Screen_113
push constant 16384
push local 11
add
push local 12
push local 13
not
and
push local 13
push static 0
and
or
call Memory.poke 2
pop temp 0
push local 14
push constant 16
push local 10
sub
sub
pop local 14
push local 11
push constant 1
add
pop local 11
label Screen_115
push local 14
push constant 16
lt
not
not
if-goto Screen_116
push constant 16384
push local 11
add
push static 0
call Memory.poke 2
pop temp 0
push local 14
push constant 16
sub
pop local 14
push local 11
push constant 1
add
pop local 11
push local 14
push constant 0
eq
not
if-goto Screen_117
push constant 0
return
label Screen_117
goto Screen_115
label Screen_116
push local 14
call Math.twoToThe 1
push constant 1
sub
pop local 13
push constant 16384
push local 11
add
call Memory.peek 1
pop local 12
push constant 16384
push local 11
add
push local 12
push local 13
not
and
push local 13
push static 0
and
or
call Memory.poke 2
pop temp 0
push constant 0
return
label Screen_109
push constant 0
pop local 4
push constant 0
pop local 5
push constant 0
pop local 6
push argument 0
push argument 2
lt
pop local 7
push argument 1
push argument 3
lt
pop local 8
label Screen_118
push local 4
push local 2
gt
not
push local 5
push local 3
gt
not
and
not
if-goto Screen_119
push local 0
push local 4
push local 7
and
push local 4
push local 7
or
not
or
add
push local 1
push local 5
push local 8
and
push local 5
push local 8
or
not
or
sub
call Screen.drawPixel 2
pop temp 0
push local 6
push constant 0
lt
not
if-goto Screen_120
push local 4
push constant 1
add
pop local 4
push local 6
push local 3
add
pop local 6
goto Screen_121
label Screen_120
push local 5
push constant 1
sub
pop local 5
push local 6
push local 2
sub
pop local 6
label Screen_121
goto Screen_118
label Screen_119
push constant 0
return
function Screen.drawRectangle 3
push argument 0
push argument 2
gt
push argument 1
push argument 3
gt
or
not
if-goto Screen_122
push constant 0
return
label Screen_122
push argument 0
pop local 0
push argument 1
pop local 1
push constant 1
neg
pop static 3
push local 0
push constant 16
call Math.divide 2
pop local 2
push local 0
push constant 16
push local 2
call Math.multiply 2
sub
pop static 2
push constant 32
push local 1
call Math.multiply 2
push local 2
add
pop static 1
label Screen_123
push local 1
push argument 3
gt
not
not
if-goto Screen_124
push local 0
push local 1
push argument 2
push local 1
call Screen.drawLine 4
pop temp 0
push static 1
push constant 32
add
pop static 1
push local 1
push constant 1
add
pop local 1
goto Screen_123
label Screen_124
push constant 0
pop static 3
push constant 0
return
function Screen.drawCircle 10
push constant 1
neg
pop static 3
push argument 2
pop local 0
label Screen_125
push local 0
push constant 0
lt
not
not
if-goto Screen_126
push argument 2
push argument 2
call Math.multiply 2
push local 0
push local 0
call Math.multiply 2
sub
call Math.sqrt 1
pop local 1
push argument 0
push local 1
sub
pop local 2
push argument 1
push local 0
add
pop local 3
push argument 0
push local 1
add
pop local 4
push argument 1
push local 0
add
pop local 5
push local 2
push constant 16
call Math.divide 2
pop local 8
push local 2
push constant 16
push local 8
call Math.multiply 2
sub
pop static 2
push constant 32
push local 3
call Math.multiply 2
push local 8
add
pop static 1
push local 2
push local 3
push local 4
push local 5
call Screen.drawLine 4
pop temp 0
push argument 1
push local 0
sub
pop local 3
push argument 1
push local 0
sub
pop local 5
push constant 32
push local 3
call Math.multiply 2
push local 8
add
pop local 9
push local 9
pop static 1
push local 2
push local 3
push local 4
push local 5
call Screen.drawLine 4
pop temp 0
push local 0
push constant 1
sub
pop local 0
goto Screen_125
label Screen_126
push constant 0
pop static 3
push constant 0
return
